{% extends 'admin_base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block container_body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}" class="btn btn-primary mt-1">back to list</a>
{% endblock %}
