.tags-list{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
}
.category {
    font-size: 10px;
    margin: 5px 0 !important;
    color: var(--bs-secondary-color);
}
.b {
    border: solid 1px #f00!important;
}
.variants {
    min-height: 100px;
}

.main-placeholder{
    height: 100vh !important;
    width: 100vw !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    min-width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
}
