<div class="form-check w-100 py-3">
    <input class="form-check-input" type="checkbox" value="{{ option.id }}" name="answers[]" id="option-{{ option.id }}">
    <label class="form-check-label w-100" for="option-{{ option.id }}">
        {{ option.title }}
    </label>
</div>
